body {
  background: rgb(44, 37, 168);
  background: linear-gradient(
    90deg,
    rgba(44, 37, 168, 1) 0%,
    rgba(95, 95, 142, 1) 48%,
    rgba(165, 187, 231, 1) 100%
  );
}

.title {
  font-size: 30px;
}

.card {
  background-color: whitesmoke;
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.header_card {
  display: flex;
  align-items: center;
}

.form_todo {
  width: 100%;
  display: flex;
}

.input_todo {
  width: 95%;
  height: 60px;
}

.btn {
  width: 60px;
  background-color: blueviolet;
}

.todo_ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.todo_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightgrey;
  padding: 0 20px;
}

.todo_list_completed {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: darkgrey;
  text-decoration: line-through;
  padding: 0 20px;
}

.count_todo {
  text-align: center;
}
